<!--<div class="modal fade">-->
<h3>
    Add Sub Admin
</h3>
<div class="row" ng-controller="addSubAdminController">
    <div class="col-lg-12">
        <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
        <form method="post" validate-form="" novalidate="" ng-submit="registerSubAdmin()">
            <div class="panel panel-default">
                <div id="panelDemo4" class="panel panel-default custom-panel" ng-class="{'whirl standard' : loading }">
                
                   

                

                <div id="panelDemo2" class="panel panel-default custom-panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="panel-wrapper">
                                <div class="">
                                 
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="name"
                                                   class="form-control"
                                                   placeholder="Name" ng-model="name"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                     <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="sender_name"
                                                   class="form-control"
                                                   placeholder="User name" ng-model="userName"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                     <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="sender_name"
                                                   class="form-control"
                                                   placeholder="Password" ng-model="password"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer btn-align" style="background: #fff">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>

    </div>
   
</div>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg">
    <div class="ngdialog-message">
        <h4>Dispatcher Added Successfully</h4>
        <button type="submit" ng-click="close()" class="btn btn-primary"
                style="margin-top:20px;float:right;">OK
        </button>
        <div style="clear: both;"></div>
    </div>
</script>


