
<h3>
    Dashboard
    <small >Welcome to Bitcoin Exchange</small>
</h3>
<!--/*----- WIDGET DATA -----*/-->
<div ng-controller="dashboardController">
    <div>
        <div class="Heading">
        </div>
        <div class="row state-overview" id="first_state_overview1" style="z-index: 1000000;">
            <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15 ">
                <div class="panel widget bg-link">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-success-dark pv-lg">
                            <em class="icon fa fa-usd fa-3x"></em>
                        </div>
                        <div class="col-xs-12 pv-lg">
                            <div class="h2 mt0 text-center">{{ rateValue.USD.last }}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Buy</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.USD.buy}}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Sell</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.USD.sell}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15 ">
                <div class="panel widget bg-link">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                            <em class="icon fa fa-eur fa-3x"></em>
                        </div>
                        <div class="col-xs-12 pv-lg">
                            <div class="h2 mt0 text-center">{{ rateValue.EUR.last }}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Buy</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.EUR.buy}}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Sell</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.EUR.sell}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15 ">
                <div class="panel widget bg-link">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-primary pv-lg">
                            <em class="icon fa fa-gbp fa-3x"></em>

                        </div>
                        <div class="col-xs-12 pv-lg text-center">
                            <div class="h2 mt0">{{ rateValue.GBP.last }}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Buy</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.GBP.buy}}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Sell</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.GBP.sell}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15 ">
                <div class="panel widget bg-link">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
                            <em class="icon fa fa-cny fa-3x"></em>
                        </div>
                        <div class="col-xs-12 pv-lg text-center">
                            <div class="h2 mt0">{{ rateValue.CNY.last}}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Buy</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.CNY.buy}}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Sell</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.CNY.sell}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15 ">
                <div class="panel widget bg-link">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-info-dark pv-lg">
                            <em class="icon fa fa-krw fa-3x" style="margin-left:-15px;"></em>
                        </div>
                        <div class="col-xs-12 pv-lg text-center" style="padding-left:0px;">
                            <div class="h2 mt0">{{ rateValue.KRW.last}}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Buy</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.KRW.buy}}</div>
                            <div class="text-uppercase text-center color-light-gray"><b>Sell</b></div>
                            <div class="text-uppercase text-center color-sea">{{rateValue.KRW.sell}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
            <!-- START DATATABLE 2 -->
            <div class="row">
                <div class="col-lg-12 pad0 cstm-gray">
                    <div class="full-width">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="full-width">
                                <h3 style="color: #f5f5f5;margin-bottom:0px;">
                                    Ongoing Value
                                </h3>
                                <small class="color-sea">Get your Currency Value to Bitcoin Exchange</small>
                                <form ng-submit="currencyConvertor.$valid && convertValue()" novalidate class="full-width" 
                                name="currencyConvertor">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pad0">
                                        <input type="tel" class="form-control custom-field" placeholder="Enter Your Value" name="moneyValue" ng-model="genericData.moneyValue" required>
                                        <small class="error text-warning" ng-if="currencyConvertor.$submitted && currencyConvertor.moneyValue.$error.required">
                                            Money Value is required.
                                        </small>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad0">
                                        <select class="form-control custom-field cstm-select" ng-model="genericData.currency" name="currency" ng-options="x for x in currencyDataTable" required>
                                            <option value="" disabled selected style="display: none;">Select Currency</option>
                                        </select>   
                                        <small class="error text-warning" ng-if="currencyConvertor.$submitted && currencyConvertor.currency.$error.required">
                                            Currency is required.
                                        </small>
                                    </div>
                                    <div class="full-width" style="margin-top:20px;">
                                        <button class="btn orange" type="submit"><span>Get Info</span></button>                 
                                    </div>   
                                    
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pad0">
                            <h1 class="text-center jumbotron">
                                <span ng-show="outputValue == '' || outputValue == undefined">
                                    <span style="font-weight:lighter;">
                                        <span class="ft-size-medium">Your Bitcoin Value is</span>
                                    <br>
                                    <br>
                                    <span class="fa fa-btc"></span> 
                                        0
                                        <br>
                                    </span>

                                </span>
                                <span ng-hide="outputValue == '' || outputValue == undefined">
                        
                                    <span class="ft-size-medium">Your Bitcoin Value for {{genericData.currency}} {{genericData.moneyValue}}</span>
                                    <br>
                                    <br>
                                    <span class="fa fa-btc"></span> 
                                    {{outputValue}}
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
                </br>
            </div>
        </div>
    </div>

    <div class="row" >
        <!-- START dashboard main content-->
        <div class="col-lg-12 mg-top" >
            <!-- START chart-->
                <div class="pull-right col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <select class="custom-input-field cstm-select" ng-model="genericData.currencyChart" name="currencyChart" ng-options="y for y in currencyDataTable track by y" ng-change="getTrendingData()">
                        <option value="" disabled selected style="display: none;">Select Currency</option>
                    </select>
                </div>
            <div id="container" style="height: 400px; min-width: 310px"></div>

        </div>
        <!-- END dashboard main content-->
        <!-- START dashboard sidebar-->
        <!-- END dashboard sidebar-->

    </div>
</div>


