<h3>
    Dashboard
    <small>Welcome to Instavans</small>
</h3>
<!--/*----- WIDGET DATA -----*/-->
<div ng-controller="dashboardController">
    <div class="Heading">
    </div>
    <div class="row state-overview" id="first_state_overview1" style="z-index: 1000000;">
        <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15">
            <div class="panel widget bg-danger">
                <div class="row row-table">
                   <!--  <div class="col-xs-4 text-center bg-danger-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                    </div> -->
                    <div class="col-xs-12 pv-lg">
                        <div class="h2 mt0 text-center">{{ totalOnlineDriver }}</div>
                        <div class="text-uppercase text-center">Online Drivers</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15">
            <div class="panel widget bg-warning">
                <div class="row row-table">
                    <!-- <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                        <em class="icon fa fa-check"></em>
                    </div> -->
                    <div class="col-xs-12 pv-lg">
                        <div class="h2 mt0 text-center">{{ totalCompletedOrder }}</div>
                        <div class="text-uppercase text-center">Active Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15">
            <div class="panel widget bg-black-dark">
                <div class="row row-table">
                    <!-- <div class="col-xs-4 text-center bg-black pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                        <em class="icon fa fa-bell"></em>
                    </div> -->
                    <div class="col-xs-12 pv-lg text-center">
                        <div class="h2 mt0">{{ totalUnAssignedOrder }}</div>
                        <div class="text-uppercase">Completed Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-15 col-md-15 col-xs-15 col-sm-15">
            <div class="panel widget bg-danger">
                <div class="row row-table">
                    <!-- <div class="col-xs-4 text-center bg-danger-dark pv-lg">
                        <em class="icon fa fa-automobile fa-3x"></em>
                    </div> -->
                    <div class="col-xs-12 pv-lg text-center">
                        <div class="h2 mt0">{{ totalOnlineDriver}}</div>
                        <div class="text-uppercase ">Pending Orders</div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-4 col-sm-6">-->
        <!--<div class="panel widget bg-purple">-->
        <!--<div class="row row-table">-->
        <!--<div class="col-xs-4 text-center bg-purple-dark pv-lg">-->
        <!--<em class="icon fa fa-users fa-3x"></em>-->
        <!--</div>-->
        <!--<div class="col-xs-8 pv-lg">-->
        <!--<div class="h2 mt0">{{ totalNewCustomer }}</div>-->
        <!--<div class="text-uppercase">New Customers</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-4 col-sm-6">-->
        <!--<div class="panel widget bg-green">-->
        <!--<div class="row row-table">-->
        <!--<div class="col-xs-4 text-center bg-green-dark pv-lg">-->
        <!--<em class="icon fa fa-try fa-3x"></em>-->
        <!--</div>-->
        <!--<div class="col-xs-8 pv-lg">-->
        <!--<div class="h2 mt0">{{ totalRevenue }}</div>-->
        <!--<div class="text-uppercase">Total Revenue</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div style="clear:both"></div>
    </div>
</div>
<div class="row" >
    <!-- START dashboard main content-->
    <div class="col-lg-12" >
        <!-- START chart-->
        <div class="row" ng-controller="MapCircleController">
            <div class="col-lg-12">
                <!-- START widget-->
                <div class="panel widget">
                    <div>
                        <div class="panel-body map-dashboard">
                            <div id="map-container" style="height:480px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-live" ng-controller="dashboardController">
            <div class="online-driver">
                <aside class="col-lg-12">
                    <!-- START messages and activity-->
                    <h3 ng-click="online=!online" class="toggle-arw"><span class="fa fa-cl" ng-class="{'fa-chevron-right':online, 'fa-chevron-left':!online}" style="font-size: 30px;"></span></h3>
                    <div class="" style="">
                        <div class="panel panel-default" ng-show="online" style="border:0px;width:300px;">
                            <div class="panel-heading">
                                <div class="panel-title"><span class="fa fa-users"></span> Online Drivers</div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4" ng-click="drivers=busyOnline">
                                    <h3 class="text-center">{{ totalDrivers }}</h3>
                                    <h5 class="text-center">total</h5>
                                </div>
                                <div class="col-lg-4" ng-click="drivers=idleOnline">
                                    <h3 class="text-center">{{ totalOnlineDriver }}</h3>
                                    <h5 class="text-center">Active</h5>
                                </div>
                                <div class="col-lg-4" ng-click="drivers=offLine">
                                    <h3 class="text-center">{{totalOfflineDriver}}</h3>
                                    <h5 class="text-center">Offline</h5>
                                </div>
                            </div>
                            <!-- START list group-->
                            <div class="list-group" style="height: 323px;overflow-y: scroll;overflow-x: hidden;float: left;width:100%;">
                                <!-- START list group item-->
                                <div class="list-group-item" ng-repeat="data in drivers">
                                    <div class="media-box">
                                        <div class="pull-left" style="position:relative;">
                                            <em class="fa fa-circle fa-stack-2x dot text-yellow" ng-if="{{data.status}}" title="Busy"></em>
                                            <em class="fa fa-circle fa-stack-2x dot text-green" ng-show="{{data.status}}" title="Free"></em>
                                            <!--{{data.profilePicture}}-->
                                            <img src="app/img/avatar.jpg" class="img-thumbnail img-circle driverImg">
                                        </div>
                                        <div class="media-box-body clearfix" style="margin-top: 5px">

                                            <div class="media-box-heading"><a href="#" class="text-purple m0"><span style="color:#333;font-size:18px;">{{idle}}</span> <span class="pull-right" style="color:#333;">Busy</span></a>
                                            <h5 style="margin:0px;"><span style="font-size:15px;">6 hours ago</span></h5>
                                            </div>
                                            <p class="m0">
                                                <small><a href="#">{{data.phoneNumber}}</a>
                                            </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="list-group" style="height: 530px;overflow-y: scroll;overflow-x: hidden;">-->
                                <!--&lt;!&ndash; START list group item&ndash;&gt;-->
                                <!--<div class="list-group-item" ng-repeat="data in list">-->
                                <!--<div class="media-box">-->
                                <!--<div class="pull-left">-->
                                <!--<img src="{{data.profilePicture}}" class="img-thumbnail img-circle driverImg">-->
                                <!--</div>-->
                                <!--<div class="media-box-body clearfix" style="margin-top: 5px">-->
                                <!--<em class="fa fa-circle fa-stack-2x text-yellow" ng-hide="{{data.status}}"-->
                                <!--title="Busy"></em>-->
                                <!--<em class="fa fa-circle fa-stack-2x text-green" ng-show="{{data.status}}" title="Free"></em>-->
                                <!--<div class="media-box-heading"><a href="#" class="text-purple m0">{{data.fullName}}</a>-->
                                <!--</div>-->
                                <!--<p class="m0">-->
                                <!--<small><a href="#">{{data.phoneNumber}}</a>-->
                                <!--</small>-->
                                <!--</p>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!-- END list group item-->
                            </div>
                            <!-- END list group-->
                            <!-- START panel footer-->
                            <div class="panel-footer clearfix">
                                <small>Scroll Down to show more</small>
                            </div>
                            <!-- END panel-footer-->
                        </div>
                    </div>
                    <!-- END messages and activity-->
                </aside>
            </div>
        </div>
    </div>
    <!-- END dashboard main content-->
    <!-- START dashboard sidebar-->
    <!-- END dashboard sidebar-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="MapCircleController">
        <h3 style="color: #333;">
        Ongoing jobs
    </h3>
        <div class="container-fluid">
            <!-- START DATATABLE 2 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table id="datatable2" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Cust ID</th>
                                        <th>Shipper Image</th>
                                        <th>Shipper Name</th>
                                        <th>Vehicle</th>
                                        <th>Pickup Delivery</th>
                                        <th>Pickup Person</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in ongoinglist">
                                        <!--<td>{{data}}</td>-->
                                        <td>{{$index + 1}}</td>
                                        <td><img src="app/img/avatar.jpg" style="width:50px;height:50px;border-radius:50%;"></td>
                                        <td>{{data.shipper_name}}</td>
                                        <td>{{data.vehical_details[0].vehicle_name}}</td>
                                        <td>{{data.dropUpAddress}}</td>
                                        <td>{{data.contact_name}}</td>
                                        <td>
                                            <span class="btn">
                                        <span ng-if="!data.started" class="btn btn-sm btn-warning">pending</span>
                                            <span ng-if="data.started && !data.completed" class="btn btn-sm danger">In Transit</span>
                                            <span ng-if="data.completed" class="btn btn-sm btn-success">completed</span>
                                            </span>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" ng-click="reAssignList(data._id,data.driverId)" title="Reassign"><span class="fa fa-pencil"></span>
                                    </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- **************************************************************************
******************* Modal to add Order ***********************************
*******************************************************************************-->
<script type="text/ng-template" id="placeOrder">
    <div class="ngdialog-message">
        <h3>Place Order</h3>
    </div>
</script>
<!-- **************************************************************************
******************* Modal to display msg when no driver found **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_no_driver">
    <div class="ngdialog-message">
        <h4>Sorry no other driver available nearby.</h4>
        <button type="submit" ng-click="closeThisDialog(0)" class="btn btn-success" style="margin-top:20px;float:right;">OK
        </button>
        <div style="clear: both;"></div>
    </div>
</script>
<!-- **************************************************************************
******************* Modal to display msg when no driver found **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_reAssign_msg">
    <div class="ngdialog-message">
        <h4>Driver Reassigned Successfully.</h4>
        <button type="submit" ng-click="$state.reload();closeThisDialog(0)" class="btn btn-success" style="margin-top:20px;float:right;">OK
        </button>
        <div style="clear: both;"></div>
    </div>
</script>
<!-- **************************************************************************
******************* Modal to display driver list **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_driver_list">
    <div class="ngdialog-message" style="height: 100px">
        <h4>Driver List</h4>
        <div class="col-lg-8">
            <select class="form-control col-sm-8" ng-change="changeDriver(driverId)" ng-model="driverId" ng-init="driverId=1">
                <option ng-repeat="data in nearDriverList" style="height: 22px" value="{{$index+1}}">{{data.fullName}}</option>
            </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-success" ng-click="reAssign();closeThisDialog(0)">Assign</button>
        </div>
    </div>
</script>
<style>
#datatable2 th {
    width: 12.5%;
    text-align: center;
}

#datatable2 td {
    text-align: center;
}
    .dot{
        position: absolute;
        left: 35px;
        text-align: center;
        float: left;
        width: 10px !important;
        z-index: 999999999;
        top: 33px;
        font-size:0em;
    }
</style>
